/* styles/Home.module.css */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 2rem;
}

.imageWrapper {
  cursor: pointer;
  overflow: hidden;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.imageWrapper:hover {
  transform: scale(1.03);
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

